@model List<GadgetsOnline.Models.Product>
@{
    ViewBag.Title = "Welcome to Gadgets Online!";
}

<div id="promotion">

</div>

<h3><em>Our best selling </em>Gadgets Online.</h3>

<class ="row">




    <ul id="album-list">
        @foreach (var product in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Store",
                                new { id = product.ProductId })">

                    <img alt="@product.Name" src="@product.ProductArtUrl" />
                    <span>@product.Name</span>
                </a>
            </li>
        }
    </ul>

