################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GadgetsOnline/packages
/GadgetsOnline/.vs/GadgetsOnline
/GadgetsOnline/GadgetsOnline/bin
/GadgetsOnline/GadgetsOnline/obj
