<?xml version="1.0"?>
<configuration>
  <system.web>
  </system.web>
  <appSettings>
    <add key="RemoteRoutingToMicroservice" value="true" />
    <!--Set to true on non-prod/test machine to disable HTTPS endpoint cert check-->
    <add key="SkipCertificateValidation" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="EndpointConnectionString" connectionString="" />
  </connectionStrings>
</configuration>
