@model bool

@if (Model == true)
{
    <span class="glyphicon glyphicon-ok-sign text-success" style="font-size:40px;" aria-hidden="true"></span>
}
else
{
    <span class="glyphicon glyphicon-remove-sign text-danger" style="font-size:40px;" aria-hidden="true"></span>
}